[user]
	email = contact@danilocgsilva.me
	name = Danilo Silva
[safe]
	directory = /home/danilo/groceries_schedule
	directory = /home/danilo/receiptman
	directory = /home/danilo/receiptman/output/vuetify/app
	directory = /home/danilo/receiptman/output/env_make_question_google_gemini/make_question_google_gemini_api/src/make-question-interface
[credential]
	helper = "!f() { /app/.vscode-server/bin/560a9dba96f961efea7b1612916f89e5d5d4d679/node /tmp/vscode-remote-containers-941b8131-b8b3-4d78-827f-819e51daf7d2.js git-credential-helper $*; }; f"
